<!DOCTYPE html>
<html lang="fa">
  <head>
    <meta charset="utf-8" />
    <meta name="language" content="persian" />
    <meta http-equiv="content-type" content="text/html" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>نیکاس - مدیریت</title>
    <link
      type="text/css"
      href="{{ nikas_host_script }}/css/nikas-light.css"
      rel="stylesheet"
    />
    <link
      type="text/css"
      href="{{ nikas_host_script }}/css/nikas-admin.css"
      rel="stylesheet"
    />
    <link
      rel="shortcut icon"
      href="{{ nikas_host_script }}/img/favicon.ico"
      type="image/x-icon"
    />
    <link
      rel="icon"
      href="{{ nikas_host_script }}/img/favicon.ico"
      type="image/x-icon"
    />
  </head>

  <body>
    <div class="wrapper">
      <div class="header">
        <header>
          <img
            class="logo"
            src="{{ nikas_host_script }}/img/logo.png"
            alt="logo"
          />
          <div class="title">
            <a href="#">
              <h1 style="color: #212121">نیکاس</h1>
            </a>
          </div>
        </header>
      </div>
      <main>
        <div id="disabled">
          پنل مدیریت غیرفعال است. جهت اطلاعات بیشتر به مستندات مراجعه کنید.
        </div>
      </main>
    </div>
  </body>
</html>
