<html>
<head>
  <title>Admin</title>
  <link type="text/css" href="{{ nikas_host_script }}/css/nikas.css" rel="stylesheet">
  <link type="text/css" href="{{ nikas_host_script }}/css/admin.css" rel="stylesheet">
  <link rel="shortcut icon" href="{{ nikas_host_script }}/img/favicon.ico" type="image/x-icon">
  <link rel="icon" href="{{ nikas_host_script }}/img/favicon.ico" type="image/x-icon">
</head>
<body>
<div class="wrapper">
  <div class="header">
    <header>
      <img class="logo" src="{{ nikas_host_script }}/img/logo.png" alt="logo"/>
      <div class="title">
        <a href="./">
          <h1>Nikas</h1>
        </a>
      </div>
    </header>
  </div>
  <main>
    <div id="disabled">
      Administration is disabled on this instance of nikas. Set enabled=true
      in the admin section of your nikas configuration to enable it.
    </div>
  </main>
</div>
</body>
</html>
