/.eggs
/.github
/.vscode
/bin
/build
/dist
/nikas.egg-info
/node_modules

.browserslistrc
.editorconfig
.env.pypi
.gitignore
.gitlab-ci.yml
azure-pipelines.yml
docker-compose.yml
example.cfg
example.db
gulpfile.js
Makefile
MANIFEST.in
nikas.conf
package-lock.json
package.json
README.md
setup.cfg
setup.py
tox.ini
