include nikas/js/embed.min.js
include nikas/js/embed.dev.js
include nikas/js/count.min.js
include nikas/js/count.dev.js
include nikas/js/admin.js

include nikas/nikas.cfg

include nikas/templates/admin.html
include nikas/templates/disabled.html
include nikas/templates/login.html
include nikas/css/nikas-admin.css
include nikas/css/nikas-admin.css.map
include nikas/css/nikas-light.css
include nikas/css/nikas-light.css.map
include nikas/css/nikas-dark.css
include nikas/css/nikas-dark.css.map

include nikas/img/logo.png
include nikas/img/favicon.ico
