html5lib==1.1
misaka==2.1.1
Jinja2==2.11.3
itsdangerous==1.1.0
Flask==1.1.2
Flask-Caching==1.9.0
bleach==3.3.0
Werkzeug==1.0.1
argon2-cffi==21.3.0
cffi==1.15.0
MarkupSafe==1.1.1
pytest==7.1.1
pytest-cov==3.0.0
