@import "https://cdn.jsdelivr.net/npm/vazir-font@26.0.2/dist/Farsi-Digits/font-face-FD.css";

:root {
    --font: "Vazir FD", Georgia, "Times New Roman", Times, serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #4d4c4c;
}

a,
p,
div {
    font-family: var(--font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-style: normal;
    font-weight: normal;
    font-family: var(--font);
}

input {
    text-align: center;
    font-family: var(--font);
}

/*************************** Header ***************************/

.header::before,
.header::after {
    content: " ";
    display: table;
}

.header::after {
    clear: both;
}

.header::before,
.header::after {
    content: " ";
    display: table;
}

.header {
    margin-left: auto;
    margin-right: auto;
    max-width: 68em;
    padding: 1em 2em 1em 2em;
}

.header header {
    display: flex;
    float: right;
    font-weight: normal;
    width: 50%;
    flex-direction: row-reverse;
}

.header header .logo {
    float: left;
    max-height: 60px;
    padding-left: 12px;
}

.header header .title {
    display: flex;
    align-items: center;
}

.header .logout {
    width: 50%;
    height: 60px;
    display: flex;
    align-items: center;
}

/*************************** Outer ***************************/

.outer {
    background-color: #eeeeee;
    padding: 10px 0 10px 0;
}

.outer .filters::before,
.outer .filters::after {
    content: " ";
    display: table;
}

.outer .filters::after {
    clear: both;
}

.outer .filters::before,
.outer .filters::after {
    content: " ";
    display: table;
}

.outer .filters {
    margin-left: auto;
    margin-right: auto;
    max-width: 68em;
    padding: 1em;
}

.outer .order {
    display: flex;
    direction: rtl;
}

.outer .order a:first-child {
    margin-right: 10px;
}

.label {
    background-color: #ddd;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    line-height: 1.4em;
    outline: 0 none;
    padding: calc(0.6em - 1px);
}

.active {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6) inset;
}

.label-valid {
    background-color: #cfc;
    border-color: #cfc;
}

.label-pending {
    background-color: #ffc;
    border-color: #ffc;
}

.mode {
    float: right;
    display: flex;
}

.pagination {
    float: left;
}

.note .label {
    margin: 9px;
    padding: 3px;
}

#login {
    margin-top: 40px;
    text-align: center;
    width: 100%;
    direction: rtl;
}

.nikas-comment-footer a {
    cursor: pointer;
}

.thread-title {
    margin-left: 3em;
}

.group {
    float: right;
    margin-right: 2em;
    display: flex;
}

.group input {
    margin-left: 5px;
}

.editable {
    border: 1px solid #aaa;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
}

.hidden {
    display: none;
}
