@import "https://cdn.jsdelivr.net/npm/vazir-font@26.0.2/dist/Farsi-Digits/font-face-FD.css";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #212121;
}

a {
  text-decoration: none;
  transition: all 250ms;
}

a,
p,
div {
  font-family: "Vazir FD", Georgia, "Times New Roman", Times, serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: normal;
  font-weight: normal;
  font-family: "Vazir FD", Georgia, "Times New Roman", Times, serif;
}

input {
  text-align: center;
  font-family: "Vazir FD", Georgia, "Times New Roman", Times, serif;
}

html,
.wrapper {
  background-color: #fafafa;
}

/*************************** Login ****************************/
html .wrapper header {
  text-align: center;
}
html .wrapper header .title {
  margin-top: 5px;
}

#login {
  margin-top: 40px;
  text-align: center;
  width: 100%;
  direction: rtl;
}

/*************************** Header ***************************/
.header-container {
  background-color: #00796b;
}
.header-container .header {
  margin-left: auto;
  margin-right: auto;
  max-width: 68em;
  padding: 1em 2em 1em 2em;
}
.header-container .header::before {
  content: " ";
  display: table;
}
.header-container .header::after {
  content: " ";
  display: table;
  clear: both;
}
.header-container .header header {
  display: flex;
  float: right;
  font-weight: normal;
  width: 50%;
  flex-direction: row-reverse;
}
.header-container .header header .logo {
  float: left;
  max-height: 60px;
  padding-left: 12px;
}
.header-container .header header .title {
  display: flex;
  align-items: center;
}
.header-container .header header .title h1 {
  color: #ffffff;
}
.header-container .header .logout {
  width: 50%;
  height: 60px;
  display: flex;
  align-items: center;
}
.header-container .header .logout a {
  color: #ffffff;
}

/*************************** Outer ***************************/
.outer {
  background-color: #b2dfdb;
  padding: 10px 0 10px 0;
}
.outer .filters {
  margin-left: auto;
  margin-right: auto;
  max-width: 68em;
  padding: 1em;
}
.outer .filters::before {
  content: " ";
  display: table;
}
.outer .filters::after {
  content: " ";
  display: table;
  clear: both;
}
.outer .filters .mode {
  float: right;
  display: flex;
}
.outer .filters .mode a:first-child span {
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}
.outer .filters .mode a:last-child span {
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}
.outer .filters .group {
  float: right;
  margin-right: 2em;
  display: flex;
}
.outer .filters .group input {
  margin-left: 5px;
}
.outer .filters .pagination {
  float: left;
}
.outer .order {
  display: flex;
  direction: rtl;
}
.outer .order a {
  font-size: 15px;
}
.outer .order a:first-child {
  margin-right: 10px;
}
.outer .order a:first-child span {
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}
.outer .order a:last-child span {
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

/*************************** Comment ***************************/
.nikas-comment {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 1em;
  border-radius: 7px;
  margin: 1.5em auto !important;
  background-color: #ffffff;
}
.nikas-comment:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.nikas-comment:not(:first-of-type) {
  border-top: unset !important;
}
.nikas-comment .text {
  margin-top: 20px;
  direction: rtl;
  text-align: justify;
  -moz-text-align-last: right;
       text-align-last: right;
  font-weight: 300;
  color: #212121;
}
.nikas-comment .text .editable {
  border: 1px solid #aaa;
  border-radius: 5px;
  margin: 10px;
  padding: 5px;
}
.nikas-comment .nikas-comment-header {
  direction: rtl;
}
.nikas-comment .nikas-comment-header .author-title {
  font-weight: bold;
}
.nikas-comment .nikas-comment-header .author-title .author {
  font-size: 14px;
  color: #ff5722;
}
.nikas-comment .nikas-comment-header .address span {
  font-weight: bold;
}
.nikas-comment .nikas-comment-header .note .label {
  margin: 9px;
  padding: 5px;
  border-radius: 7px;
}
.nikas-comment .nikas-comment-footer {
  margin-top: 15px;
}
.nikas-comment .nikas-comment-footer a {
  cursor: pointer;
}
.nikas-comment .nikas-comment-footer .hidden {
  display: none;
}

/*************************** Other ***************************/
.label {
  background-color: #fbb7b7;
  cursor: pointer;
  line-height: 1.4em;
  outline: 0 none;
  padding: calc(0.6em - 1px);
}

.label-valid {
  background-color: #b5ff94;
  border-color: #b5ff94;
}

.label-pending {
  background-color: #ffd674;
  border-color: #ffd674;
}

.active {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4) inset;
}

#disabled {
  text-align: center;
  direction: rtl;
}
/*# sourceMappingURL=admin.css.map */
