@import "https://cdn.jsdelivr.net/npm/vazir-font@26.0.2/dist/Farsi-Digits/font-face-FD.css";

:root {
    --font: "Vazir FD", Georgia, "Times New Roman", Times, serif;
}

#nikas-thread * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: var(--font);
}

#nikas-thread .nikas-comment-header a {
    text-decoration: none;
}

#nikas-thread {
    padding: 0;
    margin: 0;
    font-family: var(--font);
}

#nikas-thread > h4 {
    color: #555;
    font-weight: bold;
    text-align: right;
    direction: rtl;
}

#nikas-thread > .nikas-feedlink {
    float: right;
    padding-left: 1em;
}

#nikas-thread > .nikas-feedlink > a {
    font-size: 0.8em;
    vertical-align: bottom;
}

#nikas-thread .textarea {
    min-height: 58px;
    outline: 0;
    color: black;
    direction: rtl;
}

#nikas-thread .textarea.placeholder {
    color: #757575;
    direction: rtl;
}

#nikas-root {
    direction: rtl;
}

#nikas-root .nikas-comment {
    max-width: 68em;
    padding-top: 0.95em;
    margin: 0.95em auto;
}

#nikas-root .preview .nikas-comment {
    padding-top: 0;
    margin: 0;
}

#nikas-root .nikas-comment:not(:first-of-type),
.nikas-follow-up .nikas-comment {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.nikas-comment > div.avatar {
    display: block;
    width: 7%;
    float: right;
    margin: 3px 0 0 15px;
}

.nikas-comment > div.avatar > svg {
    max-width: 48px;
    max-height: 48px;
    border-radius: 15px;
}

.nikas-comment > div.text-wrapper {
    display: block;
}

.nikas-comment .nikas-follow-up {
    padding-left: unset;
    padding-right: calc(7% + 20px);
}

.nikas-comment > div.text-wrapper > .nikas-comment-header,
.nikas-comment > div.text-wrapper > .nikas-comment-footer {
    font-size: 0.95em;
}

.nikas-comment > div.text-wrapper > .nikas-comment-header {
    font-size: 0.85em;
}

.nikas-comment > div.text-wrapper > .nikas-comment-header .spacer {
    padding: 0 6px;
}

.nikas-comment > div.text-wrapper > .nikas-comment-header .spacer,
.nikas-comment > div.text-wrapper > .nikas-comment-header a.permalink,
.nikas-comment > div.text-wrapper > .nikas-comment-header .note,
.nikas-comment > div.text-wrapper > .nikas-comment-header a.parent {
    color: gray !important;
    font-weight: normal;
    text-shadow: none !important;
}

.nikas-comment > div.text-wrapper > .nikas-comment-header .spacer:hover,
.nikas-comment > div.text-wrapper > .nikas-comment-header a.permalink:hover,
.nikas-comment > div.text-wrapper > .nikas-comment-header .note:hover,
.nikas-comment > div.text-wrapper > .nikas-comment-header a.parent:hover {
    color: #606060 !important;
}

.nikas-comment > div.text-wrapper > .nikas-comment-header .note {
    float: left;
    margin-left: 5px;
}

.nikas-comment > div.text-wrapper > .nikas-comment-header .author {
    color: #555;
    font-size: 12px;
}

.nikas-comment > div.text-wrapper > .textarea-wrapper .textarea,
.nikas-comment > div.text-wrapper > .textarea-wrapper .preview {
    margin-top: 0.2em;
    color: black;
    direction: rtl;
}

.nikas-comment > div.text-wrapper > div.text p {
    margin-top: 1em;
    font-size: 14px;
    font-weight: 400;
    direction: rtl;
    text-align: justify;
    text-align-last: right;
}

.nikas-comment > div.text-wrapper > div.text p:last-child {
    margin-bottom: 0.2em;
}

.nikas-comment > div.text-wrapper > div.text h1,
.nikas-comment > div.text-wrapper > div.text h2,
.nikas-comment > div.text-wrapper > div.text h3,
.nikas-comment > div.text-wrapper > div.text h4,
.nikas-comment > div.text-wrapper > div.text h5,
.nikas-comment > div.text-wrapper > div.text h6 {
    font-size: 130%;
    font-weight: bold;
}

.nikas-comment > div.text-wrapper > div.textarea-wrapper .textarea,
.nikas-comment > div.text-wrapper > div.textarea-wrapper .preview {
    width: 100%;
    border: 1px solid #f0f0f0;
    border-radius: 2px;
}

.nikas-comment > div.text-wrapper > .nikas-comment-footer {
    font-size: 0.8em;
    color: gray !important;
    clear: left;
    margin-top: 10px;
}

.nikas-feedlink,
.nikas-comment > div.text-wrapper > .nikas-comment-footer a {
    font-weight: bold;
    text-decoration: none;
    padding-left: 0;
    transition: 0.1s linear all;
}

.nikas-feedlink:hover,
.nikas-comment > div.text-wrapper > .nikas-comment-footer a:hover {
    color: #111111 !important;
    text-shadow: #aaaaaa 0 0 1px !important;
}

.nikas-comment > div.text-wrapper > .nikas-comment-footer > a {
    position: relative;
    top: 0.2em;
}

.nikas-comment > div.text-wrapper > .nikas-comment-footer > a.edit,
.nikas-comment > div.text-wrapper > .nikas-comment-footer > a.reply,
.nikas-comment > div.text-wrapper > .nikas-comment-footer > a.delete {
    padding-right: 1em;
}

.nikas-comment > div.text-wrapper > .nikas-comment-footer .votes {
    color: gray;
}

.nikas-comment > div.text-wrapper > .nikas-comment-footer .upvote svg,
.nikas-comment > div.text-wrapper > .nikas-comment-footer .downvote svg {
    position: relative;
    top: 0.2em;
    margin-right: 3px;
}

.nikas-comment .nikas-postbox {
    margin-top: 0.8em;
}

.nikas-comment.nikas-no-votes > * > .nikas-comment-footer span.votes {
    display: none;
}

.nikas-postbox {
    max-width: 68em;
    margin: 0 auto 2em;
    clear: right;
}

.nikas-postbox > .form-wrapper {
    display: block;
    padding: 0;
}

.nikas-postbox > .form-wrapper > .auth-section,
.nikas-postbox > .form-wrapper > .auth-section .post-action {
    display: block;
}

.nikas-postbox > .form-wrapper .textarea,
.nikas-postbox > .form-wrapper .preview {
    margin: 0 0 0.3em;
    padding: 0.4em 0.8em;
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.nikas-postbox > .form-wrapper input[type="checkbox"] {
    vertical-align: middle;
    position: relative;
    bottom: 1px;
    margin-left: 0;
}

.nikas-postbox > .form-wrapper .notification-section {
    font-size: 0.9em;
    padding-top: 0.3em;
}

#nikas-thread .textarea:focus,
#nikas-thread input:focus {
    border-color: rgba(0, 0, 0, 0.8);
}

.nikas-postbox > .form-wrapper > .auth-section .input-wrapper {
    display: inline-block;
    position: relative;
    max-width: 25%;
    margin: 0 5px 0 0;
}

.nikas-postbox > .form-wrapper > .auth-section .input-wrapper input {
    padding: 0.3em 10px;
    max-width: 100%;
    border-radius: 3px;
    background-color: #fff;
    line-height: 1.4em;
    border: 1px solid rgba(0, 0, 0, 0.2);
    font-family: var(--font);
    text-align: center;
    font-size: 12px;
    color: black;
}

.nikas-postbox > .form-wrapper > .auth-section .post-action {
    float: right;
    margin: 0 0 0 5px;
}

.nikas-postbox > .form-wrapper > .auth-section .post-action > input {
    border-radius: 2px;
    border: 1px solid #ccc;
    background-color: #ddd;
    cursor: pointer;
    outline: 0;
    line-height: 1.4em;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    transition: 0.2s linear all;
    font-size: 12px;
    margin-bottom: 0;
}

.nikas-postbox > .form-wrapper > .auth-section .post-action > input:hover {
    background-color: #ccc;
}

.nikas-postbox > .form-wrapper > .auth-section .post-action > input:active {
    background-color: #bbb;
}

.nikas-postbox > .form-wrapper .preview,
.nikas-postbox > .form-wrapper input[name="edit"],
.nikas-postbox.preview-mode > .form-wrapper input[name="preview"],
.nikas-postbox.preview-mode > .form-wrapper .textarea {
    display: none;
}

.nikas-postbox.preview-mode > .form-wrapper .preview {
    display: block;
}

.nikas-postbox.preview-mode > .form-wrapper input[name="edit"] {
    display: inline;
}

.nikas-postbox > .form-wrapper .preview {
    background: #f8f8f8
        repeating-linear-gradient(
            -45deg,
            #f8f8f8,
            #f8f8f8 10px,
            #fff 10px,
            #fff 20px
        );
}

.nikas-postbox > .form-wrapper > .notification-section {
    display: none;
    padding-bottom: 10px;
}

@media screen and (max-width: 600px) {
    .nikas-postbox > .form-wrapper > .auth-section .input-wrapper {
        display: block;
        max-width: 100%;
        margin: 0 0 0.3em;
    }

    .nikas-postbox > .form-wrapper > .auth-section .input-wrapper input {
        width: 100%;
    }
}
