@import "https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn@32.102/Round-Dots/misc/UI-Farsi-Digits/Vazirmatn-RD-UI-FD-font-face.css";

$font-family: Vazirmatn RD UI FD, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

* {
    box-sizing: border-box;
    font-family: $font-family;
    margin: 0;
    padding: 0;
    color: #212121;
}

a {
    text-decoration: none;
    transition: all 250ms;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-style: normal;
    font-weight: normal;
}

input {
    text-align: center;
}

html,
.wrapper {
    background-color: #fafafa;
}

/*************************** Login ****************************/

html .wrapper header {
    text-align: center;

    .title {
        margin-top: 5px;
    }
}

#login {
    margin-top: 40px;
    text-align: center;
    width: 100%;
    direction: rtl;

    input {
        border-radius: 5px;
        background: white;
        border: 1px #c9c9c9 solid;
        padding: 3px;
        margin-top: 10px;
    }

    .error {
        margin-top: 20px;
        font-size: 14px;
        color: #b90d0d;
    }
}

/*************************** Header ***************************/

.header-container {
    background-color: #00796b;

    .header {
        margin-left: auto;
        margin-right: auto;
        max-width: 68em;
        padding: 1em 2em 1em 2em;

        &::before {
            content: " ";
            display: table;
        }

        &::after {
            content: " ";
            display: table;
            clear: both;
        }

        header {
            display: flex;
            float: right;
            font-weight: normal;
            width: 50%;
            flex-direction: row-reverse;

            .logo {
                float: left;
                max-height: 60px;
                padding-left: 12px;
            }

            .title {
                display: flex;
                align-items: center;

                h1 {
                    color: #ffffff;
                }
            }
        }

        .logout {
            width: 50%;
            height: 60px;
            display: flex;
            align-items: center;

            a {
                color: #ffffff;
            }
        }
    }
}

/*************************** Outer ***************************/

.outer {
    background-color: #b2dfdb;
    padding: 10px 0 10px 0;

    .filters {
        margin-left: auto;
        margin-right: auto;
        max-width: 68em;
        padding: 1em;

        &::before {
            content: " ";
            display: table;
        }

        &::after {
            content: " ";
            display: table;
            clear: both;
        }

        .mode {
            float: right;
            display: flex;

            a {
                &:first-child span {
                    border-top-left-radius: 7px;
                    border-bottom-left-radius: 7px;
                }

                &:last-child span {
                    border-top-right-radius: 7px;
                    border-bottom-right-radius: 7px;
                }
            }
        }

        .group {
            float: right;
            margin-right: 2em;
            display: flex;

            @media (max-width: 561px) {
                margin-top: 20px;
            }

            input {
                margin-left: 5px;
            }
        }

        .pagination {
            float: left;

            @media (max-width: 561px) {
                margin-top: 20px;
            }

            input {
                border-radius: 5px;
            }
        }
    }

    .order {
        display: flex;
        direction: rtl;

        a {
            font-size: 14px;

            @media (max-width: 521px) {
                font-size: 2.9vw;
            }

            &:first-child {
                margin-right: 10px;

                span {
                    border-top-right-radius: 7px;
                    border-bottom-right-radius: 7px;
                }
            }

            &:last-child span {
                border-top-left-radius: 7px;
                border-bottom-left-radius: 7px;
            }
        }
    }
}

/*************************** Comment ***************************/

.nikas-comment {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
        rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    transition: 0.3s;
    padding: 1em;
    border-radius: 7px;
    margin: 1.5em auto !important;
    background-color: #ffffff;

    &:hover {
        box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
            rgba(17, 17, 26, 0.05) 0px 8px 32px;
    }

    &:not(:first-of-type) {
        border-top: unset !important;
    }

    .text {
        margin-top: 20px;
        direction: rtl;
        text-align: justify;
        text-align-last: right;
        font-weight: 300;
        color: #212121;

        .editable {
            border: 1px solid #aaa;
            border-radius: 5px;
            margin: 10px;
            padding: 5px;
            width: 100%;
            height: auto;
            min-height: 50px;
        }
    }

    .nikas-comment-header {
        direction: rtl;

        .author-title {
            font-weight: bold;

            .author {
                font-size: 14px;
                color: #ff5722;
            }
        }

        .address span {
            font-weight: bold;
        }

        .note {
            @media (max-width: 650px) {
                white-space: pre-line;
            }

            .label {
                margin: 9px;
                padding: 5px;
                border-radius: 7px;
            }
        }
    }

    .nikas-comment-footer {
        margin-top: 15px;

        a {
            cursor: pointer;
            padding-left: 1em;
            color: #0d6efd;
            transition: all 0.25s;
            font-weight: bold;

            &:hover {
                color: black;
            }
        }

        .hidden {
            display: none;
        }
    }
}

/*************************** Other ***************************/

.label {
    background-color: #fbb7b7;
    cursor: pointer;
    line-height: 1.4em;
    outline: 0 none;
    padding: calc(0.6em - 1px);
}

.label-valid {
    background-color: #b5ff94;
    border-color: #b5ff94;
}

.label-pending {
    background-color: #ffd674;
    border-color: #ffd674;
}

.active {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4) inset;
}

#disabled {
    text-align: center;
    direction: rtl;
}
