@import "base.scss";

#nikas-thread {
    border-top: 1px solid #e8e8e8;

    > h4 {
        color: #8c8c8c;
    }
}

#nikas-root {
    .nikas-comment {
        &:not(:first-of-type) {
            border-top: 1px solid rgba(0, 0, 0, 0.1);
        }
    }
}

.nikas-follow-up {
    .nikas-comment {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
    }
}

.nikas-comment {
    > .nikas-text-wrapper {
        > .nikas-comment-header {
            .nikas-spacer {
                color: gray !important;

                &:hover {
                    color: #606060 !important;
                }
            }

            a.nikas-permalink {
                color: gray !important;

                &:hover {
                    color: #606060 !important;
                }
            }

            .nikas-note {
                color: gray !important;

                &:hover {
                    color: #606060 !important;
                }
            }

            a.nikas-parent {
                color: gray !important;

                &:hover {
                    color: #606060 !important;
                }
            }

            .nikas-author {
                color: #555;
            }
        }

        > .nikas-comment-footer {
            color: gray !important;

            a {
                &:hover {
                    color: #a1acfd !important;
                }
            }

            .nikas-votes {
                color: gray;
            }
        }

        > .nikas-textarea-wrapper {
            .nikas-textarea {
                color: black;
                border: 1px solid #cacaca;
            }

            // TODO: Remove ?
            .nikas-preview {
                color: black;
                border: 1px solid #cacaca;
            }
        }
    }
}

.nikas-feedlink {
    &:hover {
        color: #111111 !important;
        text-shadow: #aaaaaa 0 0 1px !important;
    }
}

.nikas-postbox {
    > .nikas-form-wrapper {
        > .nikas-auth-section {
            .nikas-post-action {
                > input {
                    border: 1px solid #4d4b4b;
                    background-color: #202328;
                    color: #9c9ca8;

                    &:hover {
                        background-color: #292d33;
                    }

                    &:active {
                        background-color: #383e46;
                    }
                }
            }

            .nikas-input-wrapper {
                input {
                    background-color: #2a2e35;
                    border: 1px solid rgba(91, 91, 91, 0.2);
                    color: #d5caca;

                    &::placeholder {
                        color: #757575;
                    }

                    &:focus {
                        border-color: rgba(255, 255, 255, 0.8);
                        background-color: #202328;
                    }

                    &:focus-visible {
                        outline: none;
                    }
                }
            }
        }

        .nikas-textarea {
            background-color: #2a2e35;
            border: 1px solid rgba(91, 91, 91, 0.2);
            color: #d5caca;

            &:focus {
                border-color: rgba(255, 255, 255, 0.8);
                background-color: #202328;
            }

            &.nikas-placeholder {
                color: #757575;
            }
        }

        .nikas-preview {
            border: 1px solid rgba(91, 91, 91, 0.2);
            background: repeating-linear-gradient(
                -45deg,
                #f8f8f8,
                #f8f8f8 10px,
                #fff 10px,
                #fff 20px
            );
        }
    }

    > .nikas-copyright {
        color: #757575;

        a {
            color: #4a4a4a;
        }
    }
}
